<app-header></app-header>

<div class="cart-container">
    <mat-card class="my-cart-container">
        <mat-card-title class="my-cart-title">My cart (2)</mat-card-title>
        <mat-card-content>
            <div class="cart-book">
                <div class="book-img-div">
                    <img src="../../../assets/images/home/Image 11.png" alt="book">
                </div>
                <div class="book-content-div">
                    <div class="book-name">BookName</div>
                    <div class="auther-name">by auther</div>
                    <div class="price">Rs 1200 <span>Rs 2000</span></div>
                    <div class="quantity-selector">
                        <button class="round-button">-</button>
                        <!-- <mat-icon class="reduce-quantity-icon">remove_circle_outline</mat-icon> -->
                        <input class="quantity-input" value="1">
                        <!-- <mat-icon class="add-quantity-icon">add_circle_outline</mat-icon> -->
                        <button class="round-button">+</button>
                        <button class="remove-book-btn">Remove</button>
                    </div>
                </div>
            </div>
            <div class="place-order-button-div" *ngIf="this.expandCustomerDeratils == false">
                <button class="place-order-button" mat-stroked-button (click)="this.expandCustomerDeratils = true">Place Order</button>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="customer-details">
        <mat-card-title class="customer-details-title">
            <div>Customer Details</div>
            <div class="edit" *ngIf="this.expandOrderSummery == true">Edit</div>
        </mat-card-title>
        <div>
            <div *ngIf="this.expandCustomerDeratils == true">
                <div class="input-div">
                    <mat-form-field class="input"  appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field  class="input" appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="input-div">                    
                    <mat-form-field  class="input" appearance="outline">
                        <mat-label>Pin Code</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field class="input" appearance="outline">
                        <mat-label>Locality</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field  class="input-text" appearance="outline">
                        <mat-label>Address</mat-label>
                        <textarea matInput></textarea>
                      </mat-form-field>
                </div>
                <div class="input-div">
                    <mat-form-field class="input" appearance="outline">
                        <mat-label>City/Town</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field  class="input" appearance="outline">
                        <mat-label>LandMark</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="type">
                    <div class="type-text">Type</div>
                    <div>
                        <mat-radio-group class="radio-buttons">
                            <mat-radio-button value="home">Home</mat-radio-button>
                            <mat-radio-button value="work">Work</mat-radio-button>
                            <mat-radio-button value="other">Other</mat-radio-button>
                          </mat-radio-group>
                    </div>
                </div>
                <div class="place-order-button-div" *ngIf="this.expandOrderSummery == false">
                    <button class="continue-button" mat-stroked-button (click)="this.expandOrderSummery = true">Continue</button>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card class="order-summery">
        <mat-card-title class="order-summery-title">Order Summery</mat-card-title>
        <mat-card-content *ngIf="this.expandOrderSummery == true">
            <div class="cart-book">
                <div class="book-img-div">
                    <img src="../../../assets/images/home/Image 11.png" alt="book">
                </div>
                <div class="book-content-div">
                    <div class="book-name">BookName</div>
                    <div class="auther-name">by auther</div>
                    <div class="price">Rs 1200 </div>
                </div>
            </div>
            <div class="place-order-button-div">
                <button class="checkout-button" mat-stroked-button (click)="checkoutOrder()">Checkout</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<app-footer></app-footer>