<mat-card class="header">
    <div class="header-content">
        <div class="logo-content" (click)="openHome()">
            <div><img src="../../../assets/images/home/education.svg" alt="logo"></div>
            <div class="logo-text">BookStore</div>
        </div>
        <div class="search-bar">

            <form class="nosubmit">
                <input class="nosubmit" type="search" placeholder="Search...">
            </form>

            <!-- <div class="search-icon">
                <mat-icon>search</mat-icon>
            </div>
            <input type="search" placeholder="Search..."> -->
        </div>
        <div class="tabs">
            <div class="profile-tab" (click)="openProfile()">
                  <div>
                    <img class="profile-logo" src="../../../assets/images/home/profile.png" alt="">
                </div>
                <div>Profile</div>
            </div>
            <div class="cart-tab" (click)="openCart()">
                <div matBadge={{cartCount}} matBadgeSize="small" matBadgeColor="primary" [matBadgeHidden]="cartCount == 0">
                    <img  src="../../../assets/images/home/supermarket.svg" alt="cart-tab">
                </div>
                <span>Cart</span>
            </div>
        </div>
    </div>
</mat-card>