<mat-card class="header">
    <div class="header-content">
        <div class="logo-content" (click)="openHome()">
            <div><img src="../../../assets/images/home/education.svg" alt="logo"></div>
            <div class="logo-text">BookStore</div>
        </div>
        <div class="search-bar">
            <div class="search-icon">
                <mat-icon>search</mat-icon>
            </div>
            <input class="search-input" type="search" placeholder="Search..." [(ngModel)]="searchText" (input)="inputSearchText()">
        </div>
        <div class="tabs">
            <div *ngIf="profileTabFlag == true">
                <div class="profile-pop-up" *ngIf="this.token == null">
                    <label for="" class="wellcome">Welcome</label>
                    <div class="text">To acsess account and manage orders</div>
                    <div>
                        <button class="button" (click)="openLogin()">LOGIN/SIGNUP</button>
                    </div>
                    <div class="icon-div">
                        <mat-icon class="mat-icon">markunread_mailbox</mat-icon>My Orders
                    </div>
                    <div class="icon-div wishlist"  (click)="openWishlist()">
                        <span class="icon">&#9825;</span>
                        <span>Wishlist</span>
                    </div>
                </div>
                <div class="profile-pop-up" *ngIf="this.token != null">

                    <label for="" class="wellcome">Hello {{userName}},</label>
                    <div class="icon-div">
                        <mat-icon class="mat-icon">person</mat-icon>Profile
                    </div>
                    <div class="icon-div">
                        <mat-icon class="mat-icon">markunread_mailbox</mat-icon>My Orders
                    </div>
                    <div class="icon-div wishlist" (click)="openWishlist()">
                        <span class="icon">&#9825;</span>
                        <span>Wishlist</span>
                    </div>
                    <button class="button" (click)="logout()">LOGOUT</button>
                </div>

            </div>
            <div class="profile-tab" (click)="openProfileTab()">
                <div>
                    <img class="profile-logo" src="../../../assets/images/home/profile.png" alt="">
                </div>
                <div>
                    <div *ngIf="token == null">Profile</div>
                    <div *ngIf="token != null">{{userName}}</div>
                </div>
            </div>
            <div class="cart-tab" (click)="openCart()">
                <div matBadge={{cartCount}} matBadgeSize="small" matBadgeColor="primary"
                    [matBadgeHidden]="cartCount == 0">
                    <img src="../../../assets/images/home/supermarket.svg" alt="cart-tab">
                </div>
                <span>Cart</span>
            </div>
        </div>
    </div>


</mat-card>