
@mixin flex($direction) {    
    display: flex;
    flex-direction: $direction;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    align-content: center;
}
.header{
    background: #A03037 0% 0% no-repeat padding-box;
    opacity: 1;
}
.header-content{    
    @include flex(row);
    justify-content: space-evenly;
    width: 85%;
    margin: auto;
}
.logo-content{
    @include flex(row);
    margin-left: 0;
    margin-right: 40px;

    .logo-text{
        margin-left: 6px;
        text-align: left;
        font: normal normal normal 20px/26px Roboto;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-transform: capitalize;
        opacity: 1;
    }
}
.search-bar{
    @include flex(row);
    width: 400px;
    margin-left: 0px;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    input:focus {
    outline: 0 auto transparent;
    }
    form {
        width: 100%;
    }
    input.nosubmit {
        border: 1px solid #555;
        width: 100%;
        padding: 9px 4px 9px 40px;
         background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
      }
}

.tabs{
    @include flex(row);    
    align-content: space-between;
    margin-right: 0px;
}

.profile-tab, .cart-tab {
    @include flex(column);
    width: 80px;
    margin-right: 0px;
    img{
        position: relative;
        width: 16px;
        height: 16px;
    }
    text-align: left;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0.45px;
    color: #FFFFFF;
    opacity: 1;
}
