<div class="main-container">
    <app-header [cartCount]="cartBookCount" (reloadComponent)="ngOnInit()" class="header"></app-header>

<div class="home-container">
    <div>
        <mat-grid-tile-header class="heading">
            <div class="book-text">
                <span>Books</span>
                <span class="books-count-text">(128 items)</span>
            </div>
            <div class="sort">
                <div>
                    <select class="dropdown-sort" name="sort" id="">
                        <option value="relevance">Sort by relevance</option>
                        <option value="LowToHigh">Price: Low to High</option>
                        <option value="HigjToLow">Price: High to Low</option>
                        <option value="NewestArrivals">Newest Arrivals</option>
                    </select>
                </div>
            </div>
        </mat-grid-tile-header>
        <mat-grid-list class="books" cols="4" rowHeight="3:4">
            <mat-grid-tile *ngFor="let book of books">
                <div class="grid-book">
                    <img src={{book.bookImg}} alt="">
                    <div class="text-div"> 
                        <div class="text-content-div">                       
                            <div class="book-name">{{book.bookName}}</div>
                            <div class="auther-name">{{book.authorName}}</div>                            
                            <div class="price">Rs {{book.price}}</div>
                            <div class="buttons" *ngIf="cartBookIdList.includes(book.bookId) == false">
                                <button class="add-to-bag-button" mat-stroked-button (click)="addBookToCart(book.bookId)">ADD TO BAG</button>
                                <button  class="wishlist-button" mat-stroked-button (click)="addBookToWishlist(book.bookId)" *ngIf="wishlistBooks.includes(book.bookId) == false">WISHLIST</button>
                                <button style="background-color: green;" class="wishlist-button" mat-stroked-button *ngIf="wishlistBooks.includes(book.bookId)">WISHLIST</button>
                            </div> 
                            <div class="buttons" *ngIf="cartBookIdList.includes(book.bookId)">
                                <button class="added-to-bag-button" mat-stroked-button>Added to bag</button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>

<app-footer class="footer"></app-footer>
</div>
