<app-header></app-header>
<div class="main-content">
    <div class="greetings">        
        <img class="greeting-image" src="../../../assets/images/orderSuccess/greetings.svg" alt="">
        <div class="greeting-text">order placed successfully</div>
    </div>
    <div class="confirmation-text"> hurray!!! your order is confirmed. <br> the order id is #123456 save the order id for further communication..</div>
    <div>
        <table class="table">
            <tr>
                <th>Email us</th>
                <th>Contact us</th>
                <th>Address</th>
            </tr>
            <tr>
                <td>admin@bookstore.com</td>
                <td>+91 8163475881</td>
                <td>42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near Kumarakom restaurant, HSR Layout, Bangalore 560034</td>
            </tr>
        </table>
    </div>
    <div>
        <button class="continue-button" mat-stroked-button (click)="continueShopping()">Continue shopping</button>

    </div>
</div>

<app-footer></app-footer>