<div class="auth-contailer">
    <div class="main-div">
        <div class="left-div">
            <img src="../../../assets/images/auth/2766594.png" alt="">
            <label for="" class="online-book-text">Online Book Shopping</label>
        </div>
        <div class="right-div">
            <mat-tab-group>
                <mat-tab label="LOGIN">
                    <div class="login-div">
                        <div class="input-div">
                            <label for="">Full Name</label>
                            <input type="text">
                            <!-- <mat-form-field appearance="outline">
                                <input matInput>
                            </mat-form-field> -->
                        </div>
                        <div class="input-div">
                            <label for="">Password</label>
                            <input type="password">
                        </div>
                        <div>
                            <button class="login-btn" mat-button>Login</button>
                        </div>
                        <div class="or-text"><button>OR</button></div>
                        <div class="or-options">
                            <button mat-raised-button class="facebook-btn">Facebook</button>
                            <button mat-stroked-button class="google-btn">Google</button>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="SIGN-UP">
                    <div class="login-div">
                        <div class="input-div">
                            <label for="">Full Name</label>
                            <input type="text">
                        </div>
                        <div class="input-div">
                            <label for="">Email Id</label>
                            <input type="text">
                        </div>
                        <div class="input-div">
                            <label for="">Password</label>
                            <input type="password">
                        </div>
                        <div class="input-div">
                            <label for="">Mobile Number</label>
                            <input type="number">
                        </div>
                        <div>
                            <button class="login-btn" mat-button>Sign Up</button>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>