<div class="auth-contailer">
    <div class="main-div">
        <div class="left-div">
            <img src="../../../assets/images/auth/2766594.png" alt="">
            <label for="" class="online-book-text">Online Book Shopping</label>
        </div>
        <div class="right-div">
            <mat-tab-group [(selectedIndex)]="selectedIndex">
                <mat-tab label="LOGIN">
                    <div class="login-div">
                        <div class="input-div">
                            <label for="">Email Id</label>
                            <input type="text" [(ngModel)]="loginData.email" required >
                        </div>
                        <div class="input-div">
                            <label for="">Password</label>
                            <input type="password" [(ngModel)]="loginData.password" required >
                        </div>
                        <div>
                            <button class="login-btn" mat-button (click)="login()">Login</button>
                        </div>
                        <div class="or-text"><button>OR</button></div>
                        <div class="or-options">
                            <button mat-raised-button class="facebook-btn">Facebook</button>
                            <button mat-stroked-button class="google-btn">Google</button>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="SIGN-UP">
                    <form class="login-div">
                        <div class="input-div">
                            <label for="">Full Name</label>
                            <input type="text" name="name" [(ngModel)]="signUpData.name">
                        </div>
                        <div class="input-div">
                            <label for="">Email Id</label>
                            <input type="text" name="email" [(ngModel)]="signUpData.email">
                        </div>
                        <div class="input-div">
                            <label for="">Password</label>
                            <input type="password" name="password" [(ngModel)]="signUpData.password">
                        </div>
                        <div class="input-div">
                            <label for="">Mobile Number</label>
                            <input type="tel" name="mobileNumber" [(ngModel)]="signUpData.mobileNumber">
                        </div>
                        <div>
                            <button class="login-btn" mat-button (click)="signUp()">Sign Up</button>
                        </div>
                    </form>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>